@import './helpers/Colors.scss';
@import './helpers/Media.scss';

.bio-container {
  padding-top: 50px;

  @include lg {
    padding-top: 75px;
  }

  .presentaion-text {
    z-index: 2;
    padding: 35px;
    background-color: rgba($main-yellow, 0.1);

    @include lg {
      padding-right: 100px;
    }

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .photo {
    z-index: 1;
    width: 225px;
    height: 225px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 2px;

    @include lg {
      width: 300px;
      height: 300px;
      margin-left: -85px;
    }
  }
}