@import './helpers/Colors.scss';
@import './helpers/Media.scss';
@import './helpers/Forms.scss';

.bio-container {
  padding-top: 50px;

  @include lg {
    padding-top: 75px;
  }

  .presentaion-text {
    z-index: 2;
    padding: 35px;
    background: linear-gradient(
      180deg,
      rgba($main-yellow, 0.15),
      rgba($main-yellow, 0)
    );
    border-radius: 2px;
    @include lg {
      padding-right: 100px;
      background: linear-gradient(
        135deg,
        rgba($main-yellow, 0.15),
        rgba($main-yellow, 0)
      );
    }

    p {
      font-size: 14px;
      margin: 0;
    }
  }

  .photo {
    z-index: 3;
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 2px;

    @include lg {
      width: 250px;
      height: 250px;
      margin-left: -75px;
    }
  }

  .btn-download-resume {
    background-color: transparent;
    color: $main-yellow;
    border: none;
    padding: 5px;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    .link-unstyled {
      @include link-unstyled;
    }
  }
}
