@import "./helpers//Colors.scss";
@import "./helpers/HoverSupported.scss";
@import "./helpers/Media.scss";

.competence-container {
  z-index: 0;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: solid 1px rgba($main-yellow, 0.35);


  @include md {
    width: 150px;
    height: 150px;
  }

  img {
    width: 40px;
    height: 40px;
    margin: auto;
    transition: all 0.25s ease-in-out;

    @include md {
      width: 45px;
      height: 45px;
    }
  }

  @include hover-supported() {
    img {
      opacity: 1;
      transform: scale(1.25, 1.25);
    }
  }

  &:focus {
    outline: 0;
  }

  .caption {
    z-index: 1;
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    opacity: 0;
    transition: all 0.45s ease-in-out;

    @include hover-supported() {
      opacity: 1;
    }

    .blur {
      z-index: 2;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($main-grey, 0.9);
    }

    .caption-text {
      z-index: 3;
      position: relative;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      margin: auto;

      @include md {
        width: 150px;
        height: 150px;
      }

      h2 {
        padding: 8px;
        margin: 0;
        color: $main-yellow;
      }
    }
  }

  .caption-on-click {
    opacity: 1;
  }
}