@import "./helpers/Colors.scss";

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .picto-email,
  .picto-phone,
  .picto-location {
    width: 30px;
    height: 100%;
  }

  p {
    margin: auto;
  }

  .form-control {
    background-color: rgba($main-yellow, 0.1);
    border: none;
    border-radius: 1px;
    border-bottom: solid 1px rgba($main-yellow, 0.5);
    color: #fff;
    font-size: 1.4rem;
    resize: none;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      background-color: rgba($main-yellow, 0.1);
      color: #fff;
      border-bottom: solid 1px $main-yellow;
    }
  }
}
