@import "./helpers/Colors.scss";

.footer-container {
  margin: 0;
  font-size: 1.2rem;
  padding: 2rem;
  color: $main-blue;
  background-color: $main-white;

  a {
    outline:none;
    color: $main-blue;
    &:hover {
      color: $main-yellow;
    }
  }
}
