@import './helpers/Colors.scss';
@import './helpers/Media.scss';

.header-container {
  background-color: $main-grey;

  .logo-oc {
    width: 40px;
    cursor: pointer;

    @include md {
      width: 45px;
    }

    @include lg {
      width: 50px;
    }
  }

  .picto-home {
    width: 30px;
    margin-bottom: 6px;

    @include lg {
      width: 14px;
      margin-bottom: 6px;
    }
  }

  .navbar-collapse {
    border-bottom: solid 1px rgba($main-yellow, 0.35);
    @include lg {
      border: hidden;
      height: auto;
    }
  }

  .nav-item {
    .nav-link {
      color: #fff;
      font-family: 'Josefin Slab', serif;
      font-weight: 600;
      text-align: center;
      font-size: 30px;
      cursor: pointer;

      @include lg {
        font-size: 16px;
      }
    }

    @include lg {
      &:before {
        z-index: -1;
        content: '';
        display: block;
        position: relative;
        height: 1px;
        top: 20px;
        background-color: $main-yellow;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.35s cubic-bezier(1, 0.25, 0, 0.75);
      }

      &:hover:before {
        z-index: -1;
        visibility: visible;
        transform: scaleX(1);
      }
    }

    .active {
      &:after {
        content: '';
        display: block;
        position: relative;
        height: 1px;
        top: -24px;
        background-color: $main-yellow;
        width: 50%;
        margin-left: 25%;

        @include md {
          width: 25%;
          margin-left: 37.5%;
        }

        @include lg {
          width: 100%;
          margin-left: 0;
          top: -13px;
        }
      }
    }
  }

  // BURGER MENU
  .btn-menu {
    z-index: 1;
    width: 40px;
    background-color: transparent;
    border: none;

    @include lg {
      display: none;
    }
  }

  span {
    display: block;
    border-radius: 2px;
    height: 1px;
    background: $main-yellow;
    transition: all 0.3s;
    position: relative;
  }

  .active span + span {
    margin-top: 19px;
  }

  .not-active span + span {
    margin-top: 8px;
  }

  .active span:nth-child(1) {
    animation: ease 0.7s top forwards;
  }

  .not-active span:nth-child(1) {
    animation: ease 0.7s top-2 forwards;
  }

  .active span:nth-child(2) {
    animation: ease 0.7s scaled forwards;
  }

  .not-active span:nth-child(2) {
    animation: ease 0.7s scaled-2 forwards;
  }

  .active span:nth-child(3) {
    animation: ease 0.7s bottom forwards;
  }

  .not-active span:nth-child(3) {
    animation: ease 0.7s bottom-2 forwards;
  }

  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }

    50% {
      top: 20px;
      transform: rotate(0);
    }

    100% {
      top: 20px;
      transform: rotate(45deg);
    }
  }

  @keyframes top-2 {
    0% {
      top: 20px;
      transform: rotate(45deg);
    }

    50% {
      top: 20px;
      transform: rotate(0deg);
    }

    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }

  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }

    50% {
      bottom: 20px;
      transform: rotate(0);
    }

    100% {
      bottom: 20px;
      transform: rotate(135deg);
    }
  }

  @keyframes bottom-2 {
    0% {
      bottom: 20px;
      transform: rotate(135deg);
    }

    50% {
      bottom: 20px;
      transform: rotate(0);
    }

    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }

  @keyframes scaled {
    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(0);
    }
  }

  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}
