@import "./helpers/Colors.scss";
@import "./helpers/Media.scss";

.intro-container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-height:600px) {
    height: 100%;
    justify-content: flex-start;
    padding-top: 75px;
  }

  .all-part {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: 0;

    @include lg {
      flex-direction: row;
    }

    .left-part {
      height: 100%;

      .welcome-title {
        font-size: 2.8rem !important;

        @include lg {
          font-size: 4.8rem !important;
        }

        @include xl {
          font-size: 7.2rem !important;
        }

      }

      p {
        font-size: 1.4rem !important;
        line-height: 24px !important;

        @include lg {
          font-size: 1.8rem !important;
          line-height: 30px !important;
        }

        @include xl {
          font-size: 2.4rem !important;
          line-height: 36px !important;
        }
      }

      .btn-download-resume {
        background-color: transparent;
        color: #fff;
        border: none;
        padding: 8px;
        margin: 8px 0 0 -8px;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;

        &:hover,
        &:active,
        &:focus {
          color: $main-grey;
          text-decoration: none;
        }

        @include lg {
          margin: 32px 0 0 -8px;
          font-size: 1.6rem !important;
        }
      }

      @include lg {
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          height: 110%;
          width: 1px;
          background-color: rgba($main-yellow, 0.5);
        }
      }
    }

    .right-part {
      margin-top: 22px;

      @include xl {
        margin-top: 40px;
      }

      .last-roject-title {
        margin-bottom: 16px;
        margin-left: 16px;
        color: $main-yellow;
        font-size: 2rem !important;

        @include xl {
          font-size: 2.6rem !important;
          margin-bottom: 32px;
          margin-left: 24px;
        }
      }

      img {
        height: 120px;

        @include md {
          height: 140px;
        }

        @include xl {
          height: 160px;
        }
      }

      .btn-yellow {
        margin-top: 16px;

        @include lg {
          margin-top: 24px;
        }

        @include xl {
          margin-top: 48px;
        }
      }

    }
  }
}