@import "./helpers/Colors.scss";
@import "./helpers/Media.scss";
@import "./helpers/Forms.scss";

.intro-container {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-height: 600px) and (orientation: landscape) {
    margin-top: 8rem;
  }

  .welcome-title {
    position: relative;
    z-index: 0;
    color: #fff;
    font-size: 5rem !important;

    @include lg {
      margin-bottom: 2rem;
      font-size: 6rem !important;
    }
    @include xl {
      font-size: 8rem !important;
    }
  }

  .text-intro {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1rem;
      width: 100%;
      border-bottom: 1px solid #fff;
    }

    p {
      padding: 2.4rem 0 2.4rem 0;
      font-family: JosefinSlab;
      font-size: 4rem !important;
      line-height: 4rem !important;

      @include lg {
        font-size: 5rem !important;
        line-height: 5rem !important;
      }
      @include xl {
        font-size: 7.2rem !important;
        line-height: 9rem !important;
      }

      .word-yellow {
        color: $main-yellow;
      }
    }
  }

  .buttons-row {
    padding: 2.4rem;
    @include xl {
      padding: 4.8rem;
    }
    button {
      &:last-child {
        margin-left: 2.4rem;
      }
    }

    img {
      height: 18px;
      width: 18px;
      margin-left: 0.8rem;
    }

    .link-unstyled {
      @include link-unstyled;
    }
  }
}
