@import "./helpers/Colors.scss";
@import "./helpers/Media.scss";
@import "./helpers/HoverSupported.scss";
@import "./helpers/Forms.scss";

.all-part-container {
  min-height: calc(100vh - 75px);
  margin: 0;
  padding: 0;

.details-projet {
  padding: 10rem 0 7.5rem 0;
  color: $main-blue;
  background-color: $main-white;
  @include lg {
    padding: 15rem 0 7.5rem 0;
  }

  .title-details-projet {
    text-align: center;
     p {
       font-size: 1.4rem;
       &:before, &:after {
         content:'';
         display: inline-block;
         vertical-align: middle;
         margin: 0 1rem;
         width: 10%;
         height: 1px;
         background-color: $main-blue;
       }
     }
  }

  .text-details-projet {
    margin: 4rem 0;
    text-align: justify;
    ul {
      padding-left: 1.6rem;
    }

    li {
      list-style-type: none;
      &:before {
        content: "‣ ";
      }
    }
  }

      .link-unstyled {
        @include link-unstyled;
        font-size: 1.4rem !important;
        border-bottom: solid 1px rgba($main-blue, 0.25);
      }

      .stack {
        justify-content: center;
        margin: auto;
        .label-stack {
          padding: 0.3rem 0.8rem;
          border: solid 1px $main-blue;
          color: $main-blue;
          font-size: 1.2rem;
          font-weight: 400;
          text-align: center;
        }
  }


}

.gallery-photo, .gallery-pano {
  margin: 10rem auto;
  img {
    padding: 0.3rem !important;
  }
}

// React-images //
// Slide button
.css-1h82jk3,
.css-xfk84m {
  background-color: rgba($main-blue, 0.8) !important;
}

// Arrow slide button + close cross
.css-8wgz7g,
.css-9s8aw7,
.react-images__footer__count {
  color: $main-yellow;
}

.react-images__header_button--fullscreen {
  display: none !important;
}
}

