@import './helpers/Colors.scss';
@import './helpers/Media.scss';

.container-projets {
  padding-top: 75px;

  @include lg {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  img {
    margin: auto;
  }
}
