@import "./helpers/Media.scss";
@import "./helpers/Colors.scss";

.container-social-network {
  margin: auto;

  @include lg {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1rem;
    top: 50vh;
    &:before {
      content: "";
      width: 0.8rem;
      height: 0.1rem;
      position: absolute;
      left: -1rem;
      top: 50%;
      background-color: $main-yellow;
    }
  }

  .logo-linked-in,
  .logo-github,
  .logo-instagram {
    width: 2.4rem;
    margin: 0.8rem;

    @include lg {
      width: 1.8rem;
      cursor: pointer;
    }
  }
}
