@import "./helpers/Media.scss";

.container-social-network {
  text-align: center;

  .logo-linked-in,
  .logo-github,
  .logo-instagram {
    width: 32px;
    margin: 16px;
    opacity: 1;

    @include lg {
      position: fixed;
      width: 24px;
      left: 24px;
      margin: 0;
      cursor: pointer;
    }
  }

  @include lg {
    .logo-linked-in {
      bottom: 10.4rem;
    }

    .logo-github {
      bottom: 6.4rem;
    }
    .logo-instagram {
      bottom: 2.4rem;
    }
  }
}
